.panini {
  background: $fcl_yellow;
  padding: $padding;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $padding;
}

.sticker {
  border: 2px solid #000000;
  /*background: rgba(255, 255, 255, .75);*/
  width: $sticker_width;
  height: $sticker_height;
  padding: 2px;

  &.landscape {
    height: $sticker_width;
    width: $sticker_height;
  }
}


// stickers
.panini-sticker {
  width: 300px;
  height: 400px;
  background-size: cover;
}

.panini-sticker__wm1982 {
  width: 300px;
  height: 400px;
  background-size: cover;
  background: url(../assets/set/WM1982.png);
}

.panini-sticker__wm1986 {
  width: 300px;
  height: 400px;
  background-size: cover;
  background: url(../assets/set/WM1986.png);
}

.panini-sticker__wm1990 {
  width: 300px;
  height: 400px;
  background-size: cover;
  background: url(../assets/set/WM1990.png);
}

.panini-sticker__wm1994 {
  width: 300px;
  height: 400px;
  background-size: cover;
  background: url(../assets/set/WM1994.png);
}

.panini-sticker__wm2002 {
  width: 300px;
  height: 400px;
  background-size: cover;
  background: url(../assets/set/WM2002.png);
}

.panini-sticker__wm2014 {
  width: 300px;
  height: 400px;
  background-size: cover;
  background: url(../assets/set/WM2014.png);
}

.panini-sticker__wm2018 {
  width: 300px;
  height: 400px;
  background-size: cover;
  background: url(../assets/set/WM2018.png);
}
